/* Dracula Theme - Waybar Colors */

@define-color cursor #f8f8f2;
@define-color background #282a36;
@define-color foreground #f8f8f2;
@define-color color0 #21222c;
@define-color color1 #ff5555;
@define-color color2 #50fa7b;
@define-color color3 #f1fa8c;
@define-color color4 #bd93f9;
@define-color color5 #ff79c6;
@define-color color6 #8be9fd;
@define-color color7 #f8f8f2;
@define-color color8 #6272a4;
@define-color color9 #ff6e6e;
@define-color color10 #69ff94;
@define-color color11 #ffffa5;
@define-color color12 #d6acff;
@define-color color13 #ff92df;
@define-color color14 #a4ffff;
@define-color color15 #ffffff;